.container {
    text-align: center;
}

.title {
    margin-top: 50px;
    color: aliceblue;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    height: 180px;
    width: 180px;
    background: darkslategray;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.board {
    height: 600px;
    width: 564px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.row {
    display: flex;
}
